<h2 class="text-center my-5">{{isEditing ? 'Edit' : 'Create'}} Employee</h2>

<div class="text-center text-danger my-5" *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form *ngIf="errorMessage === null" (ngSubmit)="onSubmit()" #employeeForm="ngForm" lass="border bg-body-tertiary border-1 border-dark-subtle rounder p-3 w-75 mb-5 mx-auto">
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label fw-semibold">First Name*</label>
                <input required #firstName="ngModel" class="form-control bg-body-secondary" type="text" name="firstName" [(ngModel)]="employee.firstName"/>

                <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
                    <div class="text-danger" *ngIf="firstName.errors?.['required']">First Name is required.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label fw-semibold">Last Name*</label>
                <input required #lastName="ngModel" class="form-control bg-body-secondary" type="text" name="lastName" [(ngModel)]="employee.lastName"/>

                <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
                    <div class="text-danger" *ngIf="lastName.errors?.['required']">Last Name is required</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label fw-semibold">Phone*</label>
        <input required #phone="ngModel" class="form-control bg-body-secondary" type="phone" name="phone" [(ngModel)]="employee.phone"/>

        <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
            <div class="text-danger" *ngIf="phone.errors?.['required']">Phone Number is required</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label fw-semibold">Email*</label>
        <input required #email="ngModel" class="form-control bg-body-secondary" type="email" name="email" [(ngModel)]="employee.email"/>

        <div *ngIf="email.invalid && (email.touched || email.dirty)">
            <div class="text-danger" *ngIf="email.errors?.['required']">Email is required</div>
            <div class="text-danger" *ngIf="email.errors?.['email']">Email is invalid</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label fw-semibold">Position*</label>
        <input required #position="ngModel" class="form-control bg-body-secondary" type="text" name="position" [(ngModel)]="employee.position"/>

        <div *ngIf="position.invalid && (position.touched || position.dirty)">
            <div class="text-danger" *ngIf="position.errors?.['required']">Position is required</div>
        </div>
    </div>
    <div class="mb-3 mx-auto w-50">
        <button class="btn btn-primary form-control" type="submit" [disabled]="employeeForm.invalid">{{isEditing ? 'Edit' : 'Create'}}</button>   
    </div>
</form>